<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JAWABAN DARI SIMULASI EVALUASI HSI</title>
        <style>
            body {
                padding-left: 15px;
            }
        </style>
    </head>
    <body>
        <header>
            <h2 class="title">JAWABAN DARI SIMULASI EVALUASI HSI</h2>
            <p>Berikut adalah jawaban dari evaluasi yang diadakan.</p>
        </header>
        <section-top>
            <div class="soal1">
                <p>Dalam Python, apa nama daftar yang isinya tidak dapat diubah kembali setelah diinisialisasi?</p>
                <ul>
                    <li class="benar">A. Tuple (benar)</li>
                    <li>B. List</li>
                    <li>C. Dictionary</li>
                    <li>D. Array</li>
                </ul>
            </div>
            <div class="soal2">
                <p>Versi Python berapakah yang paling baru?</p>
                <ul>
                    <li>A. Versi 1</li>
                    <li>B. Versi 2</li>
                    <li class="benar">C. Versi 3 (benar)</li>
                    <li>D. Versi 4</li>
                </ul>
            </div>
            <div class="soal3">
                <p>Apa tiga pertanyaan yang diajukan nanti di alam kubur?</p>
                <ul>
                    <li class="benar">A. Tuhan, Rasul, Agama (benar)</li>
                    <li>B. Tuhan, Rasul, Kiblat</li>
                    <li>C. Rasul, Saudara, Kitab</li>
                    <li>D. Rasul, Saudara, Kiblat</li>
                </ul>
            </div>
            <div class="soal4">
                <p>Apa hukum menuntut ilmu (agama) bagi setiap muslim?</p>
                <ul>
                    <li class="benar">A. Wajib (benar)</li>
                    <li>B. Sunnah</li>
                    <li>C. Mubah</li>
                    <li>D. Makruh</li>
                </ul>
            </div>
            <div class="soal5">
                <p>Apa istilah yang digunakan bagi orang yang terlihat beriman namun hatinya tidak?</p>
                <ul>
                    <li>A. Fasik</li>
                    <li>B. Kafir</li>
                    <li>C. Musyrik</li>
                    <li class="benar">D. Munafik (benar)</li>
                </ul>
            </div>
        </section-top>
    </body>
</html>